/* This is the code for the layout of the pages */
.logo 
{
    float: left; 
    margin-right: 20px;
    height: 200px; width: 200px;
    border: solid 3px rgb(55, 131, 230);
    border-radius: 225px;
}
nav 
{

    background-color: rgb(26, 26, 26);
    padding: 2%;
    border-bottom: solid 4px rgb(55, 131, 230);
    width: 100%;
}

nav ul 
{   
    text-align: center;
    font-size: 1.5em;
}

nav ul li
{
    list-style-type: none;
    background-color: rgb(26, 26, 26);
    display: inline;
    padding: 2%;
    margin: 2%;
    border: 4px solid rgb(55, 131, 230);
    border-radius: 25px;
    
}
nav ul li a 
{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
nav ul :hover {background-color: rgb(55, 131, 230);}
#active 
{
    background-color: rgb(56, 131, 230);
}
body
{
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background-color: rgb(26, 26, 26);
}
header 
{    

    color: rgb(55, 131, 230);
    padding-top: 3px;
    height: 225px;
    font-size:  2em;
    border-bottom: 4px solid rgb(55, 131, 230);
}
header h1 u
{
    text-decoration: none;
    border-bottom: 5px solid rgb(255, 255, 255);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
aside
{
    padding-left: 0;
    max-height: 1250px;
    height: 1080px;
    border-left: 5px solid rgb(55, 131, 230);
    float: right;
    width: 21%;
}
footer ul li
{
    list-style-type: none;
    color: white;
    display: inline;
    padding: 15px;
    border: 2px solid rgb(55, 131, 230);
    border-radius: 15px;
    margin: 3px;
}
footer ul li a
{
    text-decoration:  none;
    color: white;
    display: inline;
    
    
}
footer{
    clear: both;
    border: 2px solid rgb(55, 131, 230);
    padding: 0;
    margin: 0;
    position: relative;
    bottom:  0px;
    width: 100%;
    background-color: rgb(26, 26, 26);
    text-align: center;
    padding-top: 10px;
}
footer ul :hover{ background-color: rgb(56, 131, 230)}


/* The content for the homepage */
.IndexImagesA 
{
    float: left;
    margin: 30px;
    width: 50%;
    border: 2px solid rgb(55, 131, 230);
    margin-bottom: 0px;

    
}
.IndexImagesB
{
    
    float: right;
    
    margin-left: 10px;
    margin-right: 10px;
    width: 32%;
    border: 2px solid rgb(55, 131, 230);


}
#subtitle
{
    
    font-size: 2em;
}

#descText
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    font-size: 1.25em;
}
#benefits
{
    padding-top: 75px;
    float: left;
    width: 75%;
}

.smartwatch
{
    float: right;
}
#benefitsdesc
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    font-size: 1.25em;   
}
#what
{
    float: left;
    width: 75%;

}
/* Code for the types page */
.TypesImagesA
{
    float: left;
    margin: 20px;
    margin-top: 10px;
    width: 35%;
    border: 2px solid rgb(55, 131, 230);
    margin-bottom: 10px;
}



